.analyse-model-modal {
  display: flex;
  justify-content: space-between;
}

.model-list {
  flex: 1;
  margin-right: 20px;
}

.model-details {
  flex: 2;
}

.input-group-text {
  min-width: 150px; /* Assurez-vous que les étiquettes sont bien alignées */
}

.modal-section {
  margin-bottom: 20px;
}

.modal-section-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-box {
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
}

.custom-button {
  background-color: #007bff;
  border-color: #007bff;
}

.tag-title {
  font-size: 14px;
  font-weight: bold;
}

.badge {
  font-size: 14px;
}