.react-tabs {
  flex-grow: 1;
}
.consulter-projet-page {
  display: flex;
  flex-direction: row;
}
.navigation-link {
  cursor: pointer;
  color: var(--navigation-header-text);
  margin:10px
}

.navigation-text {
  color: var(--navigation-header-text);
  font-weight: bolder;
}
.react-tabs__tab-list {
  border-bottom: 1px solid var(--background-color);
  margin: 0 0 10px;
    margin-left: 0px;
  padding: 0;
  width: 80%;
}
.navigation-separator {
  margin: 0 5px;
  color: var(--navigation-header-arrow);
  font-weight: bolder;
}
.InfosProjet {
  max-width: 300px;
}

.react-tabs__tab-list {
  padding: 0;
  margin-left:20px;
  list-style: none;
  display: flex;
  justify-content: flex-start; 
}

.react-tabs__tab {
  display: inline-block;
  border:none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease; 
  font-weight: 600; 
  color:  var(--primary-text-color); 
}

.react-tabs__tab--selected {
  background: var(--sidebar-item-active); 
  color: var(--primary-text-color);
  border: none;
}

.react-tabs__tab:hover {
  background: var(--toggle-fg-after-hover);
  color: var(--secondary-text-color);
  border: none;
}

.react-tabs__tab-panel {
  display: none;
  padding-left: 20px; 
  padding-right: 20px; 
  margin-top: -20px; 
}

.react-tabs__tab-panel--selected {
  display: block;
  border: none;
}
