.card-content {
  padding: 10px;
  background-color: var(--background-color);
  border-radius: 15px; /* Increased border radius for a softer look */
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2); /* Increased shadow for depth */
  margin: 20px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
}
.card-header h2 {
  color:var(--primary-text-color);
  align-self: center;
}
.card-header img {
  width: 80px; /* Adjusted width */
  height: 80px; /* Adjusted height */
  border-radius: 50%;
  max-width: 100%; /* Ensures the image does not exceed container width */
  max-height: 100%; /* Ensures the image does not exceed container height */
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body p {
  margin: 10px 0;
}

.project-description {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .card-header {
    flex-direction: column;
    align-items: center;
  }
  .card-header img {
    margin: 0 0 10px 0;
  }
}
.card-body .info-row {
  display: flex;
  justify-content: space-between; /* Aligns items to the left and right */
  margin: 10px 0; /* Adds some vertical spacing between rows */
}

.card-body .info-row strong {
  flex-basis: 20%; /* Adjust this value based on your needs */
  text-align: left;
  color:var(--header-array-text-color);
}

.card-body .info-row span {
  flex-basis: 80%; /* Adjust this value based on your needs */
  text-align: right;
  color:var(--primary-text-color);

}
.card-body .info-type strong {
  color:var(--header-array-text-color);
}